# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
task1/

# Environment variables
.env

# VSCode settings (optional)
.vscode/

# MacOS stuff
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
